PORT=3001
DB_HOST=192.168.1.8
DB_PORT=3306
DB_NAME=cascade_hills_web
DB_USER=cascade_hills_web
DB_PASSWORD=replace-me
DB_CONNECTION_LIMIT=5
SMTP_HOST=smtp.mx.cloudflare.net
SMTP_PORT=465
SMTP_USERNAME=api_token
SMTP_PASSWORD=replace-me
SMTP_USESSL=true
SMTP_SECURITY=tls/ssl
FROM_EMAIL_ADDRESS=studio@cascade-hills.com
FROM_EMAIL_NAME=Cascade Hills Studios
CONTACT_TO_EMAIL=replace-me@example.com
